body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#pokemon-result img {
    width: 150px;
    height: auto;
  }
  
  #pokemon-result h3 {
    margin-top: 20px;
  }
  .pokemon-card {
    margin: 10px;
    text-align: center;
}
.pokemon-card img {
    width: 100px;
    height: auto;
}

.red-button {
    background-color: red;
    color: white; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.red-button:hover {
    background-color: darkred; /* Darker red on hover */
}
